
:host {
  width: 100%;
  display: block;
  height: 8rem;
  text-align: center;
  color: #FFFFFF;
  background-color: #444444;
  font-size: 1rem;
}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
