
:host {
  width: 100%;
  display: block;
  height: 3rem;
  text-align: center;
  color: #FFFFFF;
  background-color: #777777;
  font-size: 1rem;
  margin-top: 1rem;
  bottom: 0;

}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
