
:host {
  width: 50%;
  float: left;
  display: block;
  min-height: 10rem;
  text-align: center;
  color: #FFFFFF;
  background-color: #CCCCCC;
  font-size: 1rem;
  margin-top: 1rem;
  margin-right: 2%;
  margin-left: 8%;
}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
