
:host {
  width: 30%;
  float: right;
  display: block;
  min-height: 10rem;
  text-align: center;
  color: #FFFFFF;
  background-color: #999999;
  font-size: 1rem;
  margin-top: 1rem;
  margin-right: 8%;
  margin-left: 2%;
}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
